/* #00a8e7 */

.resursGatewayConfigArea {
    background: #ffffff !important;
}

.resursGatewayConfigTitleHeadRow {
    font-size: 16px !important;
    text-align: left !important;
    background: #dddddd !important;
    padding: 5px !important;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.resursGatewayConfigTr {

}
.resursGatewayConfigTdLeft {

}
.resursGatewayConfigTdRight {

}