/.idea
/includes/resurs_bank_nr_PSPCARD.php
/includes/resurs_bank_nr_CARD.php
/includes/resurs_bank_nr_COMPINVOICE.php
/includes/resurs_bank_nr_INVOICE.php
/includes/resurs_bank_nr_NEWACCOUNT.php
/includes/resurs_bank_nr_NEWCARD.php
/includes/resurs_bank_nr_PARTPAYMENT.php
